<div id="user_<%= habit.user_id %>_habit_<%= habit.id %>">
  <%= button_to log_habit_path(habit.id), data: {controller: 'authenticity'}, class: 'w-full' do %>
    <div class="p-4 w-full border border-slate-300 rounded-lg shadow-sm flex justify-between">
      <span class="font-medium text-xl"><%= habit.name %></span>
      <div>
        <% if habit.habit_type == 'daily' %>
          <span><%= habit.logs_for_today.length %> / <%= habit.frequency %></span>
          <span>today</span>
        <% elsif habit.habit_type == 'weekly' %>
          <span><%= habit.logs_for_this_week.length %> / <%= habit.frequency %></span>
          <span>this week</span>
        <% else %>
          <span><%= habit.logs_for_this_month.length %> / <%= habit.frequency %></span>
          <span>this month</span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
