<main class="px-4">
  <%= turbo_frame_tag "home_previewer" do %>
    <%= link_to previewer_path do %>
      <div class="w-full flex items-center">
        <%= render partial: 'shared/icons/chevron_left', locals: {className: 'w-6 h-auto stroke-2'} %>
        <span class="text-4xl font-bold previewer-load">Back</span>
      </div>
    <% end %>
    <section class="flex flex-col gap-2 py-2">
      <% @habits.each_with_index do |habit, idx| %>
        <div id="<%= dom_id(habit) %>_edit" class="flex items-center gap-2">
          <span><%= idx + 1 %>. <%= habit.name %></span>
          <%= button_to delete_habit_path(habit.id), method: :delete do %>
            <%= render partial: 'shared/icons/trash', locals: {className: ''} %>
          <% end %>
        </div>
      <% end %>
    </section>
  <% end %>
</main>
