<main class="px-4">
  <%= turbo_frame_tag "home_previewer", class: 'flex flex-col gap-2' do %>
    <%= link_to previewer_path, data: {turbo_action: 'advance'} do %>
      <div class="w-full flex items-center">
        <%= render partial: 'shared/icons/chevron_left', locals: {className: 'w-6 h-auto stroke-2'} %>
        <span class="text-4xl font-bold previewer-load">Reports</span>
      </div>
    <% end %>
    <%= turbo_frame_tag "habit_list", class: '' do %>
      <div class="previewer-load flex w-full justify-center">
        <% if @mode == 'daily' %>
          <span class="font-medium text-lg"><%= HabitLog.get_daily_report(current_user.id)[:report_percentage] %>% completion today</span>
        <% elsif @mode == 'weekly' %>
          <span class="font-medium text-lg"><%= HabitLog.get_weekly_report(current_user.id, get_week_range(get_week_number))[:report_percentage] %>% completion this week</span>
        <% end %>
      </div>
      <% if @mode == 'daily' %>
        <section class="mt-10">
          <div class="w-full rounded-lg flex flex-wrap gap-1">
            <% daily_reports_this_month.each_with_index do |n, idx| %>
              <div class='relative h-9 w-9 min-w-24 rounded-xl' data-controller="report-graph" data-report-graph-percentage-value="<%= n[:report_percentage] %>">
              </div>
            <% end %>
          </div>
        </section>
      <% end %>
    <% end %>
  <% end %>
</main>
