<%= render 'shared/navbar' %>
<main class="px-4">
  <%= turbo_frame_tag "home_previewer", class: 'flex flex-col gap-2' do %>
    <section>
      <% if @mode == 'daily' %>
        <h1 class="text-4xl font-bold previewer-load"><%= Time.now.strftime('%A') %></h1>
      <% elsif @mode == 'weekly' %>
        <h1 class="text-4xl font-bold previewer-load">Week <%= get_week_number %></h1>
      <% else %>
        <h1 class="text-4xl font-bold previewer-load"><%= Time.now.strftime('%B') %></h1>
      <% end %>
    </section>
    <section id="<%= dom_id(current_user) %>_<%= @mode %>_habits" class="previewer-load flex flex-col gap-2 py-2">
      <% @habits.each do |item| %>
        <% if item.habit_type == @mode %>
          <%= render partial: 'habit', locals: {habit: item, amount: item.current_logs.length} %>
        <% end %>
      <% end %>
    </section>
    <section class="w-full flex">
      <div class="w-full rounded-lg flex flex-wrap gap-1">
        <% (1..Time.now.end_of_month.day).each do |n| %>
          <div class='h-9 w-9 min-w-24 rounded-xl bg-green-700'>

          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</main>

<%= render partial: 'new_habit' %>
